/*
Hey this is a CSS file!
*/

.class {
	color: green;
}


@media only screen and (max-width: 800px) {
	body {
		background-color: palegoldenrod;
	}
}

#last-lab {
	color: rgb(255, 0, 150)
}

* {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	text-decoration: underline;
}

h1:active {
	display: block;
	margin-top: 1cm;
	margin-bottom: 1cm;
	margin-left: 1cm;
	margin-right: 1cm;
	width: 50vw;
	height: 20vh;
}

a[href="https://www.google.com"] {
	display: block;
	text-align: center;
	padding-top: 5mm;
	padding-bottom: 5mm;
	padding-left: 5mm;
	padding-right: 5mm;
	border-width: 1mm;
	border-color: black;
	border-style: double;
}

li:hover {
	color: rgba(255, 0, 150, 10);
	display: inline-block;
	height: 40px;
	width: 700px;
}

pre, th {
	color: #0ff;
}

ol li {
	color: #00ffbb;
}

footer > p {
	color: hsl(292, 90%, 59%);
}

hr + p {
	color: hsla(292, 90%, 58%, 0.5);
}

hr ~ h3 {
	border-style: dashed;
	border-color: blue;
	border-width: 5px;
	border-radius: 10px;
	padding: 1em 1em 1em 1em;
}

p.weird {
	color: darkblue;
	display: block;
	width: 70ch;
	margin: auto;
	position: sticky;
	top: 2em;
}

img {
	width: auto;
	max-width: 600px;
	min-width: 200px;
}

video {
	margin: 10ch;
}

#the-chosen-one {
	left: 5ch;
	position: relative;
}

aside {
	text-align: right;
}

.flex {
	display: flex;
	background-color: yellowgreen;
	flex-direction: row-reverse;
	flex-wrap: wrap;
}

.flex > div {
	background-color: darkblue;
	margin: 10px;
	padding: 20px 100px 100px 20px;
	flex-grow: 1;
}

.grid {
	display: grid;
	background-color: blue;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	width: 500px;
	height: 500px;
}

.grid > div {
	background-color: orangered;
	margin: 10px;
	padding: 20px 100px 100px 20px;
	justify-self: center;
	align-self: end;
}
